/* General Styling */
header {
    background-color: #2c3e50;
    padding: 20px;
  }
  
  #contact-me {
    background-color: #2c3e50;
    padding: 20px;
  }
  
  header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav {
    background-color: #2c3e50;
    padding: 10px;
  }
  
  nav .nav-link {
    color: #fff;
  }
  
  nav .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
  
  .bg-light-gray {
    background-color: lightgray;
  }
  
  section {
    padding: 50px 0;
  }
  
  section h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  
  ul.list-unstyled li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .contact-link {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Profile Picture Styling */
  .profile-picture {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Work Container Styling */
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 200px;
  }
  
  .card-body {
    text-align: center;
    position: relative;
    padding: 1.25rem;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-overlay {
    opacity: 1;
  }
  
  .card-title,
  .card-text {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: -30px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 18px;
  }
  
  .work-link {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
  .work-link::after {
    content: "View Details";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .work-link:hover::after {
    opacity: 1;
    text-decoration: underline;
  }
  
